<div class="container mt-4">
  <!-- Titre -->
  <h2 class="mb-4 text-center">Gestion des Rendez-vous</h2>

  <!-- Mini-cards -->
  <div class="row g-3 mb-4">
    <div class="col-md-4">
      <div class="mini-card shadow-sm">
        <div class="icon blue">
          <i class="icofont icofont-calendar"></i>
        </div>
        <div class="content">
          <span class="title">Total Rendez-vous</span>
          <h4>{{ rendezVousList.length }}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mini-card shadow-sm">
        <div class="icon pink">
          <i class="icofont icofont-users-alt-5"></i>
        </div>
        <div class="content">
          <span class="title">Aujourd’hui</span>
          <h4>{{ todayRendezVousCount }}</h4>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="mini-card shadow-sm clickable-card" (click)="loadRendezVous()">
        <div class="icon green">
          <i class="icofont icofont-notepad"></i>
        </div>
        <div class="content">
          <span class="title">Rendez-vous cette semaine</span>
           <h4>{{ weeklyRendezVousCount }}</h4>
       </div>

      </div>
    </div>
  </div>

 <!-- Conteneur flex pour les recherches -->
<div class="d-flex justify-content-center mb-3 gap-2 flex-wrap">
  <!-- Barre de recherche RDV -->
  <div style="flex: 1 1 200px; max-width: 400px;">
    <input
      type="text"
      class="form-control"
      placeholder="🔍 Rechercher un rendez-vous..."
      [(ngModel)]="searchRdv"
    >
  </div>

  <!-- Barre de recherche par ID Patient -->
  <div style="flex: 1 1 200px; max-width: 400px;">
    <input
      type="number"
      class="form-control"
      placeholder="🧑‍⚕️ Rechercher par ID Patient..."
      (input)="searchByIdPatient($event.target.valueAsNumber)"
    >
  </div>
</div>

<!-- Bouton pour réinitialiser -->
<div class="text-center mb-4">
  <button class="btn btn-outline-secondary btn-sm" (click)="resetFilters()">
    🔄 Réinitialiser les filtres
  </button>
</div>

  <!-- Colonne gauche : Mini-calendrier -->
  <div class="d-flex align-items-start">
    <!-- Mini-calendrier -->
    <div class="mini-calendar-wrapper mb-3">
      <div class="mini-calendar">
        <div class="mc-header">
          <select class="mc-select" [(ngModel)]="calMonth" (change)="buildCalendar()">
            <option *ngFor="let m of monthNames; let i=index" [ngValue]="i">{{ m }}</option>
          </select>
          <select class="mc-select" [(ngModel)]="calYear" (change)="buildCalendar()">
            <option *ngFor="let y of yearRange" [value]="y">{{ y }}</option>
          </select>
        </div>
        <div class="mc-weekdays">
          <div *ngFor="let wd of weekdayNames" class="mc-wd">{{ wd }}</div>
        </div>
        <div class="mc-weeks">
          <div class="mc-week" *ngFor="let week of calendarWeeks">
            <button class="mc-day"
                    *ngFor="let day of week"
                    [class.empty]="!day"
                    [class.today]="day && isToday(day)"
                    [class.selected]="day && selectedDate === formatDate(day)"
                    (click)="selectCalendarDate(day)"
                    [disabled]="!day">
              {{ day ? day.getDate() : '' }}
            </button>
          </div>
        </div>
        <div class="mc-footer">
          <button class="btn btn-sm mc-today" (click)="showTodayRendezVous()">Rendez-vous du jour</button>
        <button class="btn btn-sm btn-outline-secondary" type="button" (click)="resetFilters()">
            Réinitialiser
        </button>
        
      </div>
      </div>
    </div>
    <div class="date-range-filter d-flex align-items-center gap-2">
  <div class="date-input">
    <label>Du :</label>
    <input type="date" [(ngModel)]="startDate" (change)="applyDateRangeFilter()" />
  </div>

  <div class="date-input">
    <label>Au :</label>
    <input type="date" [(ngModel)]="endDate" (change)="applyDateRangeFilter()" />
  </div>

  <button class="btn btn-outline-secondary btn-sm" (click)="clearDateRange()">Réinitialiser</button>
</div>


    <div class="align-self-start" style="display:flex; flex-direction:column; gap:0;">
    <button class="calendar-reminder__button" (click)="sendReminder()">Rappel automatique</button>
    <button class="btn-week" (click)="showWeekRendezVous()">Rendez-vous de la semaine</button>

  </div>

  </div>
  
 <!-- Formulaire ajout -->
<div class="card mb-4 shadow-sm rounded-3">
  <div class="card-header bg-light">
    <h5 class="mb-0">➕ Ajouter un rendez-vous</h5>
  </div>

  <div class="card-body">
    <form #addForm="ngForm" (ngSubmit)="addRendezVous()">
  <div class="row g-3">
    <div class="col-md-4">
      <label>Patient *</label>
      <select [(ngModel)]="newRdv.idPatient" name="idPatient" class="form-select" required>
        <option value="">-- Sélectionner un patient --</option>
        <option *ngFor="let p of patients" [ngValue]="p.idPatient">
          {{ p.nom }} {{ p.prenom }}
        </option>
      </select>
    </div>

    <div class="col-md-4">
      <label>Acte *</label>
      <select [(ngModel)]="newRdv.idActe" name="idActe" class="form-select" required>
        <option value="">-- Sélectionner un acte --</option>
        <option *ngFor="let a of actes" [ngValue]="a.idActe">{{ a.acteLibelle }}</option>
      </select>
    </div>

    <div class="col-md-4">
      <label>Personnel *</label>
      <select [(ngModel)]="newRdv.idPersonnel" name="idPersonnel" class="form-select" required>
        <option value="">-- Sélectionner un personnel --</option>
        <option *ngFor="let perso of personnelsList" [ngValue]="perso.idUtilisateur">
          {{ perso.nom }} {{ perso.prenom }}
        </option>
      </select>
    </div>
  </div>


      <!-- Date, Heure, Durée, Fauteuil -->
      <div class="row g-3 mt-3">
        <div class="col-md-3">
          <label class="form-label">Fauteuil</label>
          <input type="text" class="form-control" name="idFauteuil" [(ngModel)]="newRdv.idFauteuil">
        </div>
        <div class="col-md-3">
          <label class="form-label">Date RDV *</label>
          <input type="date" class="form-control" name="dateRdvConfirme" [(ngModel)]="newRdv.dateRdvConfirme" required>
        </div>
        <div class="col-md-3">
          <label class="form-label">Heure RDV *</label>
          <input type="time" class="form-control" name="heureRdvConfirme" [(ngModel)]="newRdv.heureRdvConfirme" required>
        </div>
        <div class="col-md-3">
          <label class="form-label">Durée (min)</label>
          <input type="number" class="form-control" name="rdvDuree" [(ngModel)]="newRdv.rdvDuree">
        </div>
      </div>

      <!-- Autres -->
      <div class="row g-3 mt-2">
        <div class="col-md-3">
          <label class="form-label">Date arrivée</label>
          <input type="date" class="form-control" name="dateArriveePatient" [(ngModel)]="newRdv.dateArriveePatient">
        </div>
        <div class="col-md-3">
          <label class="form-label">Heure arrivée</label>
          <input type="time" class="form-control" name="heureArriveePatient" [(ngModel)]="newRdv.heureArriveePatient">
        </div>
        <div class="col-md-3">
          <label class="form-label">Heure salle attente</label>
          <input type="time" class="form-control" name="heureSalleAttente" [(ngModel)]="newRdv.heureSalleAttente">
        </div>
        <div class="col-md-3">
          <label class="form-label">Heure sortie</label>
          <input type="time" class="form-control" name="heureSortie" [(ngModel)]="newRdv.heureSortie">
        </div>
      </div>

      <div class="mt-3 text-end">
        <button type="submit" class="btn btn-success">Ajouter</button>
        <button type="button" class="btn btn-outline-secondary ms-2" (click)="resetAddForm(addForm)">Réinitialiser</button>
      </div>
    </form>
  </div>
</div>


<!-- Liste des rdvs -->
  <div class="cards-scroll-wrapper">
  <div class="cards-container">
    <div class="patient-card" *ngFor="let rdv of filteredRendezVous">
      <div class="card shadow-sm rounded-3 h-100">
        <div class="card-body">
          <h5 class="card-title">
            <span *ngIf="editRendezVousId !== rdv.idDimConfirmationRendezVous">
              <i class="icofont icofont-calendar blue"></i>
              RDV #{{ rdv.id }} - Patient
              <button class="btn btn-link p-0"
                      (click)="goToPatient(rdv.idPatient)"
                      [disabled]="!rdv.idPatient">
                #{{ rdv.idPatient }}
              </button>
            </span>
          </h5>

          <h6 class="card-subtitle mb-2 text-muted">
          </h6>
          <ul class="list-unstyled mt-3 mb-4 small" *ngIf="editRendezVousId !== rdv.idDimConfirmationRendezVous">
            <li hidden>{{ rdv.idActe }}</li>
            <li><i class="icofont icofont-user text-primary"></i>Patient: {{ getPatientNom(rdv.idPatient) }}</li>
            <li><i class="icofont icofont-hospital text-info"></i> Acte: {{ getActeLibelle(rdv.idActe) }}</li> 
            <li><i class="icofont icofont-doctor text-warning"></i> Personnel: {{ getPersonnelNom(rdv.idPersonnel) }}</li>
            <li><i class="icofont icofont-chair text-secondary"></i> Fauteuil: {{ rdv.idFauteuil }}</li>
            <li><i class="icofont icofont-calendar text-success"></i> Date RDV: {{ rdv.dateRdvConfirme }}</li>
            <li><i class="icofont icofont-clock-time text-primary"></i> Heure RDV: {{ rdv.heureRdvConfirme }}</li>
            <li><i class="icofont icofont-clock-time text-danger"></i> Durée: {{ rdv.rdvDuree }} min</li>
            <li><i class="icofont icofont-patient-bed text-info"></i> Arrivée: {{ rdv.dateArriveePatient }} {{ rdv.heureArriveePatient }}</li>
            <li><i class="icofont icofont-waiter-alt text-warning"></i> Salle attente: {{ rdv.heureSalleAttente }}</li>
            <li><i class="icofont icofont-sign-out text-danger"></i> Sortie: {{ rdv.heureSortie }}</li>
          </ul>
          <!-- Formulaire inline édition -->
      <form *ngIf="editRendezVousId === rdv.idDimConfirmationRendezVous" (ngSubmit)="saveRendezVous(rdv)" class="mt-2">
        <div class="row g-2">
          <div class="col-6">
            <label>Acte</label>
            <input type="text" [(ngModel)]="rdv.idActe" name="idActe" class="form-control">
          </div>
          <div class="col-6">
            <label>Patient</label>
            <input type="number" [(ngModel)]="rdv.idPatient" name="idPatient" class="form-control">
          </div>
          <div class="col-6">
            <label>Personnel</label>
            <input type="text" [(ngModel)]="rdv.idPersonnel" name="idPersonnel" class="form-control">
          </div>
          <div class="col-6">
            <label>Fauteuil</label>
            <input type="text" [(ngModel)]="rdv.idFauteuil" name="idFauteuil" class="form-control">
          </div>
          <div class="col-6">
            <label>Date RDV</label>
            <input type="date" [(ngModel)]="rdv.dateRdvConfirme" name="dateRdvConfirme" class="form-control">
          </div>
          <div class="col-6">
            <label>Heure RDV</label>
            <input type="time" [(ngModel)]="rdv.heureRdvConfirme" name="heureRdvConfirme" class="form-control">
          </div>
          <div class="col-6">
            <label>Durée (min)</label>
            <input type="number" [(ngModel)]="rdv.rdvDuree" name="rdvDuree" class="form-control">
          </div>
          <div class="col-6">
            <label>Date arrivée</label>
            <input type="date" [(ngModel)]="rdv.dateArriveePatient" name="dateArriveePatient" class="form-control">
          </div>
          <div class="col-6">
            <label>Heure arrivée</label>
            <input type="time" [(ngModel)]="rdv.heureArriveePatient" name="heureArriveePatient" class="form-control">
          </div>
          <div class="col-6">
            <label>Salle attente</label>
            <input type="time" [(ngModel)]="rdv.heureSalleAttente" name="heureSalleAttente" class="form-control">
          </div>
          <div class="col-6">
            <label>Heure sortie</label>
            <input type="time" [(ngModel)]="rdv.heureSortie" name="heureSortie" class="form-control">
          </div>
        </div>

        <div class="mt-2 d-flex gap-2">
          <button type="submit" class="btn btn-success btn-sm" >💾 Enregistrer</button>
          <button type="button" class="btn btn-secondary btn-sm" (click)="cancelEdit()">❌ Annuler</button>
        </div>
      </form>

          <!-- Actions -->
          <div class="d-flex justify-content-between mt-2">
            <button *ngIf="editRendezVousId !== rdv.idDimConfirmationRendezVous"
                    class="btn btn-sm btn-primary"
                    (click)="editRendezVous(rdv)">
              <i class="icofont icofont-edit"></i> Modifier
            </button>

            <button class="btn btn-sm btn-outline-primary btn-rappel"
                    (click)="sendEmailReminder(rdv.idDimConfirmationRendezVous)"
                    [disabled]="isSending(rdv)">
              <span *ngIf="isSending(rdv)">Envoi…</span>
              <span *ngIf="!isSending(rdv)"><i class="ti-email"></i> Rappel Par Mail</span>
            </button>

            <button class="btn btn-sm btn-danger"
                    (click)="confirmDelete(rdv.idDimConfirmationRendezVous)">
              <i class="icofont icofont-trash"></i> Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- Popups -->
  <div *ngIf="addSuccess" class="popup-success">✅ Rendez-vous ajouté</div>
  <div *ngIf="saveSuccess" class="popup-success">✅ Données sauvegardées</div>
  <div *ngIf="deleteSuccess" class="popup-success">✅ Rendez-vous supprimé</div>

  <!-- Confirmation suppression -->
  <div *ngIf="showDeleteConfirm" class="modal-backdrop">
    <div class="modal-dialog">
      <div class="modal-content p-3">
        <h5>Êtes-vous sûr de supprimer ce rendez-vous ?</h5>
        <div class="mt-3 d-flex justify-content-end">
          <button class="btn btn-danger me-2" (click)="delete(selectedId)">Oui</button>
          <button class="btn btn-secondary" (click)="cancelDelete()">Annuler</button>
        </div>
      </div>
    </div>
  </div>
</div>
